#accountCardsContainer p {
  margin: 0;
}

.feature-card-account-types -account-types {
  background: #1f1f1f;
  /* border: 2px solid transparent; */
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  /* width: 254px; */
  height: 100%;
  transition: border 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.feature-card-account-types -header {
  display: flex;
  
}

.feature-card-account-types -header img {
  width: 40px;
  position: relative;
  transform: none;
}

.feature-card-account-types:hover {
  border-color: #00d1ff; /* Highlight color on hover */
}

.feature-card-account-types  h3 {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.feature-card-account-types  p {
  font-size: 14px;
  color: #BFBFBF; /* Light gray text */
  margin-bottom: 20px;
}

.feature-card-account-types  .btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  background-color: #3AB8DB; 
  color: #FFFFFF;
  transition: background-color 0.3s ease;
}

.feature-card-account-types  .btn:hover {
  background-color: #00FF8C; /* Green on hover */
}
