#accountCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: flex-start;
}


#accountCardsContainer p {
  margin: 0;
}

#card-bg {
  width: 16.25rem;
    height: fit-content;
    display: flex;
    border-radius: 20px;
    background: linear-gradient(180deg, #1EE981 0%, #0E92CA 71.61%);
    flex-direction: row;
    align-items: center;
    padding: 0.0625rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.feature-card-account-types {
  background: #26292E;
  border: 1px solid rgba(0, 209, 255, 0.5); /* Border with a soft blue glow */
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  width: 300px; /* Adjust width to match the card dimensions */
  height: auto;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
}

.feature-card-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.feature-card-header::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #fff; 
}

.feature-card-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 15px #487DF799);
}

.feature-card-header h2 {
  font-size: 20px;
  color: #FFFFFF;
  margin: 0;
}



.feature-card-header h3 {
  font-size: 12px !important;
  margin: 0;
  font-weight: 400 !important;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-family: system-ui !important;
}

.feature-card-account-types:hover {
  border-color: #00d1ff; /* Highlight color on hover */
}

.feature-card-account-types h3 {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.card-account-contents {
  position: relative;
  margin-bottom: 25px;
}

.card-account-contents p {
  font-size: 12px !important;
  color: #BFBFBF; /* Light gray text */
  margin-bottom: 10px;
  font-weight: 400 !important;
  font-family: system-ui !important;
  display: flex;
}

.card-account-contents p strong {
  width: 50%;
} 

.card-account-contents::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #fff; 
}

.feature-card-account-types .btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  background-color: #3AB8DB; 
  color: #FFFFFF;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.feature-card-account-types .btn:hover {
  background-color: #00FF8C; /* Green on hover */
}

.signup {
  background-color: #3AB8DB; /* Button color */
  color: #FFFFFF;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
 
}

.feature-card-account-types a {
  margin: auto;
}



/* Section 1 */

.trade-section {
  background-color: #171A20;
  color: #ffffff;
  /* padding: 4rem 1.5rem; */
  padding: 3.75rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  flex-direction: row;
}

.trade-section .content {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 30%;
}

.content h1 {
  text-align: left;
  margin: 0 !important;
}

.trade-section h1 {
  font-size: 5rem;
  font-weight: bold;
}
.trade-section p {
  margin-top: 1rem;
  color: #b1b1b3;
}
.trade-section .buttons {
  margin-top: 1.5rem;
}
.trade-section .button {
  border-radius: 5px;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
}
.button.is-learn-more {
  background-color: var(--primary-button-color) !important;
  color: #ffffff;
}
.button.is-sign-up {
  background-color: var(--secondary-button-color) !important;
  color: #ffffff;
}

.signup:hover {
  background-color: #00FF8C; /* Hover color */
}

.info-badges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}
.info-badge {
  background-color: #3c3c3f;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.info-badge i {
  margin-right: 0.5rem;
}

.info-badges img {
  max-width: 30dvw;
  min-width: 50px;
}

.info-badges .badge1 {
  top: -2rem;
  left: 2rem;
}
.info-badges .badge2 {
  top: 2rem;
  left: 4rem;
}
.info-badges .badge3 {
  top: 5rem;
  left: 1rem;
}
.shield-icon {
  position: relative;
  width: 150px;
  height: 150px;
  background: url('https://via.placeholder.com/150') no-repeat center center;
  background-size: contain;
}